.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h2 Log in
      .panel-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
          = devise_error_messages!

          .form-group
            = f.input :email, input_html: {class: 'form_control'} , autofocus: true
          .form-group
            = f.input :password, input_html: {class: 'form_control'},  autocomplete: "off" 
          - if devise_mapping.rememberable? 
            .form-group
              = f.input :remember_me, as: :boolean, inline_label: 'Remember me'
    
          
          .action
            = f.submit "Log in", class: 'btn btn-primary'


    